[Unit]
Description=Audiobookshelf Podcast and Audiobook Server
Requires=audiobookshelf-newt.container

[Container]
AutoUpdate=registry
ContainerName=audiobookshelf
Image=ghcr.io/advplyr/audiobookshelf:2.29.0
HostName=audiobookshelf
Network=audiobookshelf.network
Volume=audiobookshelf-config:/config
Volume=audiobookshelf-metadata:/metadata
Volume=/var/media/AudioBooks:/audiobooks:ro,z
AddDevice=/dev/dri
UserNS=auto:uidmapping=0:110000,gidmapping=0:110000

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
