[Unit]
Description=Newt Service for Audiobookshelf

[Container]
AutoUpdate=registry
ContainerName=audiobookshelf-newt
Image=docker.io/fosrl/newt:1.4.4
Secret=audiobookshelf-newt-id,type=env,target=NEWT_ID
Secret=audiobookshelf-newt-secret,type=env,target=NEWT_SECRET
Secret=audiobookshelf-pangolin-endpoint,type=env,target=PANGOLIN_ENDPOINT
HostName=audiobookshelf-newt
Network=audiobookshelf.network
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/scripts/utils.sh && newt_secrets audiobookshelf'
