[Unit]
Description=Ente API Server
Requires=ente-museum.container
After=ente-museum.container

[Container]
AutoUpdate=registry
ContainerName=ente-web
Image=ghcr.io/ghcr.io/ente-io/web
Secret=ente-api-endpoint,type=env,target=ENTE_API_ORIGIN
Secret=ente-albums-endpoint,type=env,target=ENTE_ALBUMS_ORIGIN
HostName=ente-web
Network=ente.network
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
