[Unit]
Description=Ente API Server
Requires=ente-pgsql.container
Requires=ente-minio.container
Requires=ente-newt.container
After=ente-pgsql.container

[Container]
AutoUpdate=registry
ContainerName=ente-museum
Image=ghcr.io/ghcr.io/ente-io/server
HostName=ente-museum
Network=ente.network
Volume=/var/lib/orches/repo/ente/config/museum.yaml:/museum.yaml:ro,z,U
Volume=ente-data:/data
HealthCmd=curl --fail http://localhost:8080/ping
HealthStartPeriod=30s
HealthInterval=30s
HealthRetries=5
HealthTimeout=5s
UserNS=auto
Environment=ENTE_S3_B2_EU_CEN_ARE_LOCAL_BUCKETS=false
Secret=ente-b2-endpoint,type=env,target=ENTE_S3_B2_EU_CEN_ENDPOINT
Secret=ente-minio-user,type=env,target=ENTE_S3_B2_EU_CEN_KEY
Secret=ente-minio-password,type=env,target=ENTE_S3_B2_EU_CEN_SECRET

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/ente/ente-setup.sh'

[Install]
WantedBy=default.target
