[Unit]
Description=Ente MinIO Init Script
Requires=ente-minio.container
After=ente-minio.container

[Container]
AutoUpdate=registry
ContainerName=ente-minio-init
Entrypoint=["/bin/sh", "/var/lib/orches/repo/ente/minio-setup.sh"]
Image=docker.io/minio/mc
HostName=ente-minio-init
Network=ente.network
Volume=ente-minio:/data:z,U
Volume=/var/lib/orches/repo/ente/minio-setup.sh:/minio-setup.sh:ro,Z,U
UserNS=auto:uidmapping=0:140000,gidmapping=0:140000
Secret=ente-minio-user,type=env,target=MINIO_ROOT_USER
Secret=ente-minio-password,type=env,target=MINIO_ROOT_PASSWORD

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
