[Unit]
Description=Immich Server
Requires=immich-pgsql.container
Requires=immich-redis.container
Requires=immich-newt.container
After=immich-pgsql.container

[Container]
AutoUpdate=registry
ContainerName=immich-server
Image=ghcr.io/immich-app/immich-server:v1.141.1
HostName=immich-server
Network=immich.network
Environment=DB_USERNAME=postgres
Environment=DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=immich-redis
Environment=DB_HOSTNAME=immich-pgsql
Secret=immich-db-password,type=env,target=DB_PASSWORD
Volume=/var/media/immich:/usr/src/app/upload:z
Volume=/etc/localtime:/etc/localtime:ro,z
HealthCmd=immich-healthcheck
HealthStartPeriod=30s
HealthInterval=30s
HealthRetries=5
HealthTimeout=5s


[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
