[Unit]
Description=Newt Service for Immich

[Container]
AutoUpdate=registry
ContainerName=immich-newt
Image=docker.io/fosrl/newt:1.4.2
Secret=immich-newt-id,type=env,target=NEWT_ID
Secret=immich-newt-secret,type=env,target=NEWT_SECRET
Secret=immich-pangolin-endpoint,type=env,target=PANGOLIN_ENDPOINT
HostName=immich-newt
Network=immich.network
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/scripts/utils.sh && newt_secrets immich'
