[Unit]
Description=Jellyfin Media Server
Requires=jellyfin-newt.container

[Container]
AutoUpdate=registry
ContainerName=jellyfin
Image=docker.io/linuxserver/jellyfin:latest
HostName=jellyfin
Network=jellyfin.network
Volume=jellyfin-config:/config
Volume=jellyfin-cache:/config/cache
Volume=/var/media/usb/Music/Lidarr:/lidarr:ro,z
Volume=/var/media/usb/Video/Radarr:/radarr:ro,z
Volume=/var/media/usb/Video/Sonarr:/sonarr:ro,z
Volume=/var/media/Video/Movies:/movies:ro,z
Volume=/var/media/Music/FLAC:/music:ro,z
Volume=/var/media/Video/Shows:/shows:ro,z
Volume=/var/media/Video/Anime/Shows:/anime/shows:ro,z
Volume=/var/media/Video/Anime/Movies:/anime/movies:ro,z
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm
Secret=jellyfin-server-url,type=env,target=JELLYFIN_PublishedServerUrl
AddDevice=/dev/dri

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/scripts/utils.sh && podman_secret Jellyfin "Server URL" jellyfin-server-url'

[Install]
WantedBy=default.target
