[Unit]
Description=Newt Service for jellyfin

[Container]
AutoUpdate=registry
ContainerName=jellyfin-newt
Image=docker.io/fosrl/newt
Secret=jellyfin-newt-id,type=env,target=NEWT_ID
Secret=jellyfin-newt-secret,type=env,target=NEWT_SECRET
Secret=jellyfin-pangolin-endpoint,type=env,target=PANGOLIN_ENDPOINT
HostName=jellyfin-newt
Network=jellyfin.network
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/scripts/utils.sh && newt_secrets jellyfin'
