[Unit]
Description=Transmission torrent client
Requires=servarr-gluetun.container

[Container]
AutoUpdate=registry
ContainerName=servarr-transmission
Image=lscr.io/linuxserver/transmission:latest
HostName=servarr-transmission
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Stockholm
Secret=servarr-transmission-user,type=env,target=USER
Secret=servarr-transmission-password,type=env,target=PASS
Network=servarr-gluetun.container
Volume=servarr-transmission-config:/config
Volume=servarr-downloads:/downloads:z
UserNS=auto:uidmapping=1000:150000,gidmapping=1000:150000

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/servarr/transmission_secrets.sh'
