[Unit]
Description=Flood torrent client web interface

[Container]
AutoUpdate=registry
ContainerName=servarr-flood
HostName=servarr-flood
Image=docker.io/jesec/flood
Environment=HOME=/config
Network=servarr-gluetun.container
Exec=--port 3001 --allowedpath /downloads --baseUR /flood
Volume=servarr-flood-config:/config
Volume=servarr-downloads:/downloads
UserNS=auto:uidmapping=1000:150000,gidmapping=1000:150000

[Service]
Restart=always
TimeoutStartSec=900
