[Unit]
Description=Lidarr

[Container]
AutoUpdate=registry
ContainerName=servarr-lidarr
Image=ghcr.io/hotio/lidarr
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Stockholm
Pod=servarr.pod
Volume=servarr-lidarr-config:/config
Volume=/var/media/Downloads/flood:/downloads:z
Volume=/var/media/Music/Lidarr:/music:z

[Service]
Restart=always
TimeoutStartSec=900
