[Unit]
Description=Radarr

[Container]
AutoUpdate=registry
ContainerName=servarr-radarr
Image=ghcr.io/hotio/radarr
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Stockholm
Pod=servarr.pod
Volume=servarr-radarr-config:/config
Volume=/var/media/Downloads/flood:/downloads:z
Volume=/var/media/Video/Radarr:/movies:z

[Service]
Restart=always
TimeoutStartSec=900
