[Unit]
Description=Radarr
Requires=servarr-prowlarr.container
Requires=servarr-flood.container
Requires=servarr-gluetun.container
Requires=servarr-newt.container

[Container]
AutoUpdate=registry
ContainerName=servarr-radarr
Image=ghcr.io/hotio/radarr
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Stockholm
Network=servarr-gluetun.container
Volume=servarr-radarr-config:/config
Volume=servarr-downloads:/downloads:z
Volume=/var/media/Video/Radarr:/movies:z
UserNS=auto:uidmapping=1000:150000,gidmapping=1000:150000

[Service]
Restart=always
TimeoutStartSec=900
