[Unit]
Description=Sonarr

[Container]
AutoUpdate=registry
ContainerName=servarr-sonarr
Image=ghcr.io/hotio/sonarr
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Stockholm
Network=servarr-gluetun.container
Volume=servarr-sonarr-config:/config
Volume=servarr-downloads:/downloads:z
Volume=/var/media/Video/Sonarr:/tv:z
UserNS=auto:uidmapping=1000:150000,gidmapping=1000:150000

[Service]
Restart=always
TimeoutStartSec=900
