[Unit]
Description=Flood torrent client web interface

[Container]
AutoUpdate=registry
ContainerName=servarr-flood
Image=docker.io/jesec/flood
User=1000
Group=1000
Environment=HOME=/config
Pod=servarr.pod
Exec=--port 3001 --allowedpath /downloads
Volume=servarr-flood-config:/config
Volume=/var/media/Downloads/flood:/downloads:z
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
