[Unit]
Description=Lidarr

[Container]
AutoUpdate=registry
ContainerName=servarr-lidarr
Image=ghcr.io/hotio/lidarr
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Stockholm
Network=servarr-gluetun.container
Volume=servarr-lidarr-config:/config
Volume=servarr-downloads:/downloads:z
Volume=/var/media/Music/Lidarr:/music:z
UserNS=auto:uidmapping=1000:150000,gidmapping=1000:150000

[Service]
Restart=always
TimeoutStartSec=900
