[Unit]
Description=Gluetun VPN service for arr stack

[Container]
AutoUpdate=registry
ContainerName=servarr-gluetun
Image=docker.io/qmcgaw/gluetun
Environment=VPN_SERVICE_PROVIDER=protonvpn
Environment=VPN_TYPE=wireguard
Environment=SERVER_COUNTRIES=Sweden
Secret=servarr-wireguard-private-key,type=env,target=WIREGUARD_PRIVATE_KEY
Network=host
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c '. /var/lib/orches/repo/servarr/gluetun_secrets.sh'
