[Unit]
Description=Prowlarr

[Container]
AutoUpdate=registry
ContainerName=servarr-prowlarr
Image=ghcr.io/hotio/prowlarr
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Europe/Stockholm
Network=servarr-gluetun.container
Volume=servarr-prowlarr-config:/config
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=900
